/* Bearbeiter:DK Dario Kampkaspar kampkaspar@hab.de */
/* erstellt 2016-11-02 DK */
body {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

h1 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-align: center;
}

h2 {
	letter-spacing: inherit;
	text-align: center;
}

span.footnoteText {
	padding-left: 2em;
}